*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height:auto;
    background:rgb(32, 203, 209);
}
/* inicio header*/
header{
    width: 99%;
    height: 75px;
    background-color: rgb(12, 10, 10);
    border: 7px double gray;
}

header h1{
    display: block;
    float: left;
    font-size: 30px;
    margin: 25px 35px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(245, 97, 11);
}

nav{
    display: block;
    float:right;
}
nav ul li{
    display: block;
    float: left;
    list-style: none;
    margin: 25px 25px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(245, 97, 11);
}

/*fin header*/

/*inicio slider*/

.container{
    margin: auto;
    background-color: white;
    width: 1250px;
    padding: 30px;

}

.container ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 1200px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    margin: 2px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
}